.todo-list-main {
  margin: 0 auto;
  min-width: 80%;
  text-align: center;
  padding-top: 10px;
}

.todo-list-main .header input,
.todo-list-main .header button {
  font-family: "Operator Mono", "Fira Code", "Monaco", "Inconsolata", sans-serif;
}

.todo-list-main .header input {
  padding: 10px;
  font-size: 16px;
  border: none;
  min-width: 60%;
}

.todo-list-main .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #444;
  color: #FFF;
  border: none;
}

.todo-list-main .header button:hover  {
  background-color: #222;
  cursor: pointer;
}